input[type=submit]{
    background-color: #4CAF50;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    background: #4CAF50;
    font-family: 'Oswald';
    font-size: 30px;
    font-color: white;
color:white;
    text-decoration: none;
    cursor: pointer;
    border:none;
    width:100%;
    height: 3em;
}
input[type=text]{
    
    background-color:#ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    background: #ffffff;
    font-family: 'Oswald';
    font-size: 20px;
    font-color: #00000;
    text-decoration: none;
    cursor: pointer;
    border:2px solid #ccc;
    width: 20em;  
    height: 3em;
}
input[type=password]{
    
    background-color: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    background: #ffffff;
    font-family: 'Oswald';
    font-size: 20px;
    font-color: #00000;
    text-decoration: none;
    cursor: pointer;
    border:2px solid #ccc;
    width: 20em;  
    height: 3em;
}



input[type=submit]:hover{
    border: none;
    background:#4CAF50;
    box-shadow: 0px 0px 1px #777;  
    height: 3em;
    color:white;
}

input, textarea {
  max-width:100%
}



 @media screen and (min-width: 100px) and (max-width: 199px){
       .button{
          width: 25px;
       }
    }

    @media screen and (min-width: 200px) and (max-width: 299px){
       .button{
          width: 50px;
       }
    }